{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
